Button{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px !important;
    background-color: #EE7C7C !important;
    border: none !important;
    box-shadow: none !important;
    }

    .navlinkclass{
        /* margin-top: 5px; */
        text-align: left;
        font-size: 16px;
        color: black;
        width: 100%;
        border-bottom:groove;
        border-bottom-left-radius: 20px;
    }
    .navlinkclass:hover{
        color:white;
        background-color:#B91818;
    }
  
    .navmainclass:hover{
        background-color: #E84F4F;
        /* margin-top: 5px; */
        margin-left: 10px;
        margin-right: 10px;
    }
    
  

