.headerclass{
    text-align: left;
    color: #EE7C7C;
    
    border-bottom: groove;
    
}

.cseimage{
    justify-content: left;
    margin-right: 150px;
}
p{
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;
    
}
h4{
    background-color: #EE7C7C;
    color: white;
    
    text-align: left;
    
}
ul{
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;
}
.h5class{
    color:#EE7C7C;
    
}

.h5class:hover{
    color:black;
}