.headerclass{
    text-align: left;
    color: #EE7C7C;
    
    border-bottom: groove;
    
}

.cseimage{
    justify-content: left;
    margin-right: 150px;
}
.ptag{
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;
}